
@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao|Open+Sans&display=swap');


div>img{
height: 400px;
border: 10px solid brown;
align-items: center;
}
div>p{
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 30px;
}

body{
    background-color: burlywood;
}